@page "/members"
@inherits UserComunityBase

<h3>Our comunity!</h3>

<div>
    @if (Users != null)
    {
        <table class="table table-light table-hover table-bordered">
            <thead>
                <tr>
                    <th scope="col">Type</th>
                    <th scope="col">Handle</th>
                    <th scope="col">Email</th>
                </tr>
            </thead>

            @foreach (var user in UsersList)
            {

                <tbody>
                    <tr @onclick="() => GoToUserPage(user.Id)">
                        <th scope="row">Admin</th>
                        <th scope="row">@user.Username</th>
                        <th scope="row">@user.Email</th>
                    </tr>
                </tbody>
            }
        </table>
    }
    <br />
    <div>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" style="cursor:pointer"
                       @onclick="@(e=>NavigateTo("first"))">
                        @("<<")
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" style="cursor:pointer"
                       @onclick="@(e=>NavigateTo("prev"))">
                        Prev
                    </a>
                </li>

                @for (int i = 0; i < TotalPages; i++)
                {
                    var pageNumber = i;
                    <span>
                        <li class="page-item">
                            <a class="page-link" style="cursor:pointer"
                               id="@(CurrentPage==pageNumber?"page-button-current":"page-button-others")"
                               @onclick="@(e=>UpdateList(pageNumber))">
                                @(i+1)
                            </a>
                        </li>
                    </span>
                }

                <li class="page-item">
                    <a class="page-link" style="cursor:pointer"
                       @onclick="@(e=>NavigateTo("next"))">
                        Next
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" style="cursor:pointer"
                       @onclick="@(e=>NavigateTo("last"))">
                        @(">>")
                    </a>
                </li>

            </ul>
        </nav>
    </div>

</div>