@page "/trends/{Id}"
@inherits TrendDetailsBase

@if (Trend == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="trends-page-wrapper">

        <div class="trend-information">
            <div class="trend-information-header">
                @Trend.Name
            </div>
            <div class="trend-information-main">
                @Trend.Description
            </div>
            <div class="trend-information-footer">
                <a href="/trends" class="btn btn-primary">Back</a>

                <a href="@($"trends/edit/{Trend.Id}")" class="btn btn-primary">Edit</a>

                <a href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>

        <EditForm Model="@createPostModel" class="post-form">
            <div class="form-group row custom-form-group">
                <label for="Title" class="col-sm-2 col-form-label">
                    Title
                </label>
                <div class="col-sm-10">
                    <InputText @bind-Value="createPostModel.Title"></InputText>
                </div>

                <label for="Name" class="col-sm-2 col-form-label">
                    MediaPath
                </label>
                <div class="col-sm-10">
                    <InputText @bind-Value="createPostModel.MediaPath"></InputText>
                </div>
            </div>
            <button class="btn btn-primary" type="submit" @onclick="HandleValidSubmit">Create</button>

        </EditForm>

        @if (Posts != null)
        {
            foreach (var post in Posts)
            {
                <div class="post-card">
                    <div class="post-card-header">
                        @post.Title
                    </div>
                    <div class="post-card-main">
                        <img src="@post.MediaPath" />
                    </div>
                    <div class="post-card-footer">
                        <div class="post-card-footer-left">

                            <div class="vote-container">
                                <div class="vote-container-icon">
                                    <span class="oi oi-arrow-top"></span>
                                </div>
                                <div class="vote-container-count">
                                    @post.Upvotes
                                </div>
                            </div>

                            <div class="vote-container">
                                <div class="vote-container-icon">
                                    <span class="oi oi-arrow-bottom"></span>
                                </div>
                                <div class="vote-container-count">
                                    @post.Downvotes
                                </div>
                            </div>

                        </div>
                        <div class="post-card-footer-right">
                            <a href="@($"trends/{Trend.Id}/posts/{post.Id}")" class="btn btn-primary m-1">View</a>

                            <a href="@($"trends/edit/{Trend.Id}/posts/{post.Id}")" class="btn btn-primary m-1">Edit</a>

                            <a class="btn btn-danger m-1" @onclick="async () => await DeleteClick(post.Id)">Delete</a>
                        </div>
                    </div>
                </div>
            }
        }

    </div>
}
