@page "/trends/{TrendId}"
@inherits TrendDetailsBase

<div class="row row-margins content-row-main">
    <div class="layout-col col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 content-row-second">
        <div class="row content-row-third">
            <div class="layout-col items-container col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                @if (Trend != null)
                {
                    <h5 style="font-weight:700;font-size:28px">
                        @Trend.Name
                    </h5>
                }

                @if (AuthService.IsLoggedIn())
                {
                    <a style="text-decoration:none;color:black;" href="@($"trends/{TrendId}/create/")">
                        <div class="post-option post-plus">
                            <i class="fas fa-plus-circle"></i>
                        </div>
                    </a>
                    <a style="text-decoration:none;color: #1b6ec2;" href="@($"trends/{TrendId}/edit/")">
                        <div class="post-option post-cogs">
                            <i class="fas fa-cogs"></i>
                        </div>
                    </a>
                }

                @{var postIndex = 0; }
                @if (Posts != null)
                {
                    foreach (var post in Posts)
                    {
                        @if (SeeContent[postIndex++].Equals(true))
                        {
                            <PostCard Authenticated="@AuthService.IsLoggedIn()" ActivateButtons="@true" Post="post"
                                      OnPostLiked="LikePost" OnPostDisliked="DislikePost" OnNavigateToPostPage="NavigateToPostPage" ImageUrl="@ImageService.GetFullUrl(post.MediaPath)"/>
                        }
                        else
                        {
                            <div class="not-scanned-warning">
                                <div class="title">
                                    <p>This content has not been scanned or is innapropriate. Do you want to see it anyway?</p>
                                </div>
                                <div class="buttons">
                                    <button class="btn btn-primary" @onclick="(() => ViewContent(post))">
                                        Yes
                                    </button>
                                </div>
                            </div>
                        }
                    }
                }
            </div>

            <div class="pagination-wrapper">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" style="cursor:pointer"
                                @onclick="@(e=>NavigateTo("first"))">
                                @("<<")
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" style="cursor:pointer"
                                @onclick="@(e=>NavigateTo("prev"))">
                                Prev
                            </a>
                        </li>

                        @for (int i = 0; i < TotalPages; i++)
                        {
                            var pageNumber = i;
                            <span>
                                <li class="page-item">
                                    <a class="page-link" style="cursor:pointer"
                                        id="@(CurrentPage==pageNumber?"page-button-current":"page-button-others")"
                                        @onclick="@(e=>UpdateList(pageNumber))">
                                        @(i+1)
                                    </a>
                                </li>
                            </span>
                        }

                        <li class="page-item">
                            <a class="page-link" style="cursor:pointer"
                                @onclick="@(e=>NavigateTo("next"))">
                                Next
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" style="cursor:pointer"
                                @onclick="@(e=>NavigateTo("last"))">
                                @(">>")
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

        </div>
    </div>
</div>
