@page "/trends/{Id}"
@inherits TrendDetailsBase

<div class="row">
    <div class="layout-col col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
        <div class="row">
            <div class="layout-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 posts-layout">
                @if (AuthService.IsLoggedIn())
                {
                    <a style="text-decoration:none;color:black;" href="@($"trends/{Id}/create/")">
                        <div class="post-option post-plus">
                            <i class="fas fa-plus-circle"></i>
                        </div>
                    </a> 
                    <a style="text-decoration:none;color: #1b6ec2;" href="@($"trends/{Id}/edit/")">
                        <div class="post-option post-cogs">
                            <i class="fas fa-cogs"></i>
                        </div>
                    </a>
                }

                @if (Posts != null)
                {
                    foreach (var post in Posts)
                    {
                        <div class="post">
                            <div class="post-title">
                                <a style="text-decoration:none;color:black;" href="@($"trends/{Id}/posts/{post.Id}")">
                                    <h4>@post.Title</h4>
                                </a>
                            </div>

                            <div class="post-subtitle">
                                <h6 class="post-time">12m ago</h6>
                            </div>

                            <div class="post-body">
                                <div class="post-resource">
                                    <img class="post-image" src=@post.MediaPath />
                                </div>

                            </div>
                            <div class="post-description">
                                <div class="post-op">
                                    <span><img class="user-image" src="https://accounts-cdn.9gag.com/media/avatar/15124501_100_6.jpg" /></span>
                                    <span class="user-name"> Rebeca </span>
                                </div>
                                <div class="post-text">
                                    <p>Look at this cute puppy...</p>
                                </div>
                            </div>
                            <div class="post-footer">
                                <div class="post-information">
                                    <span>@post.Upvotes upvotes</span>
                                    <span>@post.Downvotes downvotes</span>
                                    <span>54 comments</span>
                                </div>
                                <div class="post-buttons">
                                    @if (AuthService.IsLoggedIn())
                                    {
                                        <div class="upvote-button" @onclick="(() => LikePostId(post))">
                                            <button class="icon-button">
                                                @if (post.LikeClicked == true)
                                                {
                                                    <i class="fas fa-thumbs-up"></i>
                                                }
                                                else
                                                {
                                                    <i class="far fa-thumbs-up"></i>
                                                }

                                            </button>
                                        </div>
                                        <div class="downvote-button" @onclick="(() => DislikePostId(post))">
                                            <button class="icon-button">
                                                @if (post.DislikeClicked == true)
                                                {
                                                    <i class="fas fa-thumbs-down"></i>
                                                }
                                                else
                                                {
                                                    <i class="far fa-thumbs-down"></i>
                                                }
                                            </button>
                                        </div>
                                    }
                                    <div class="comments-button" @onclick="(() => NavigateToPostId(Id, post.Id.ToString()))">
                                        <button class="icon-button">
                                            <i class="far fa-comments"></i>
                                        </button>

                                    </div>
                                    <div class="others-button">
                                        <button class="icon-button">
                                            <i class="fas fa-ellipsis-h"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    }
                }
            </div>
        </div>
    </div>
    <div class="layout-col col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
        <div class="sticky-list">
            @if (Trends != null)
            {
                <h5 class="trends-list-title"> Trends </h5>
                @if (AuthService.IsLoggedIn())
                {
                    <div class="trend-plus" @onclick="(() => NavigateNewTrend())">
                        <i class="fas fa-plus-circle"></i>
                    </div>
                }

                @foreach (var trend in Trends)
                {
                    <div class="trend">
                        <span><img class="trend-image" src=@trend.ImageUrl /></span>
                        @if (@trend.Name == Trend.Name)
                        {
                            <span class="trend-title" style="font-weight:600;color:#1b6ec2"> @trend.Name </span>
                        }
                        else
                        {
                            <span class="trend-title" @onclick="(() => NavigateTrendId(trend.Id))"> @trend.Name </span>
                        }
                    </div>
                }
            }
        </div>
       
    </div>
</div>
