@page "/trends/create"
@attribute [Authorize]
@inherits TrendCreateBase

<div class="row">
    <div class="layout-col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <div class="row">
            <div class="layout-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 posts-layout">

                <EditForm Model="@CreateTrendModel" OnValidSubmit="HandleValidSubmit">
                    <DataAnnotationsValidator />
                    <h3 class="create-trend-header">Create new trend</h3>
                    <div class="create-trend">
                        <div class="create-trend-name">
                            <label for="Name">
                                Name
                            </label>

                            <div>
                                <InputText id="name" class="form-control"
                                           @bind-Value="CreateTrendModel.Name"/>
                                <ValidationMessage For="@(()=> CreateTrendModel.Name)" />
                            </div>
                        </div>

                        <div class="create-trend-description">
                            <label for="Description">
                                Description
                            </label>
                            <div>
                                <InputTextArea rows="3" id="confirm-name" class="form-control"
                                               @bind-Value="CreateTrendModel.Description" />
                                <ValidationMessage For="@(()=> CreateTrendModel.Description)" />
                            </div>
                        </div>

                        <div class="create-trend-image">
                            <FileUploader OnImageSelected="ImageSelected"/>
                        </div>

                    </div>
                    <div class="create-trend-button-container-flex">
                        <button class="btn btn-primary create-trend-button-flex" type="submit">
                            Create
                        </button>
                    </div>

                </EditForm>
            </div>
        </div>
    </div>

    <div class="layout-col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 d-flex justify-content-center demo-card align-items-center">
        @if(CreateTrendModel != null)
        {
            <TrendCard Trend="@Trend" TrendName="@CreateTrendModel.Name" TrendDescription="@CreateTrendModel.Description" Authenticated="@false"
                ActivateButtons="@true" ImageUrl="@Image" InList="@false"/>
        }
    </div>

</div>
